@use "../../lib/colors.scss" as colors;

.topLeft {
  display: flex;
  color: colors.$primary-color;
  justify-content: flex-start;

  border: none;

  @include colors.hover-effect(#cecece, colors.$limed-spruce);
}

.topRight span {
  display: flex;
  justify-content: space-between;
}

.topLeft span::after {
  background-color: colors.$primary-color !important;
}

.logoLink {
  color: colors.$primary-color;
  cursor: pointer;
}

.about {
  color: colors.$white;
}

.secTop {
  will-change: transform;
  transition: transform 0.5s ease;
}

.secBot {
  transition: opacity 0.5s ease;
}
