* {
  --background-color: #fff;
  --font-white-color: #000;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: cornflowerblue; */
  background-color: var(--background-color, #000);
  /* color: var(--font-white-color, #fff); */
}

.clipped-image {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  background-image: url("./../../public/assets/service/6.webp");
  background-size: cover;
  background-position-y: 35%;
}

.clipped-image-1 {
  background-image: url("./../../public/assets/service/9.jpg");
}

@media screen and (max-width: 1200px) {
  .clipped-image {
    clip-path: none;
    background: none;
  }
}

a {
  text-decoration: none;
}
